In [31]:
import pandas as pd
import os
import platform
os_type = platform.system()
os_file_path =os.getcwd()
if os_type == "Darwin": #running on mac
    relative_file_path = "/Data/retail_sales.csv"
else: #running on windows or linux
    relative_file_path = "\\Data\\retail_sales.csv"

data_file_path = os_file_path + relative_file_path
print(data_file_path)

df = pd.read_csv(data_file_path)
df.head()

/Users/mark/Documents/IRO/HCIIV/Project repo/Data/retail_sales.csv

,Store ID,Product ID,Date,Units Sold,Sales Revenue (USD),Discount Percentage,Marketing Spend (USD),Store Location,Product Category,Day of the Week,Holiday Effect
0,Spearsland,52372247,2022-01-01,9,2741.69,20,81,Tanzania,Furniture,Saturday,False
1,Spearsland,52372247,2022-01-02,7,2665.53,0,0,Mauritania,Furniture,Sunday,False
2,Spearsland,52372247,2022-01-03,1,380.79,0,0,Saint Pierre and Miquelon,Furniture,Monday,False
3,Spearsland,52372247,2022-01-04,4,1523.16,0,0,Australia,Furniture,Tuesday,False
4,Spearsland,52372247,2022-01-05,2,761.58,0,0,Swaziland,Furniture,Wednesday,False

Data exploration

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Store ID               30000 non-null  object
 1   Product ID             30000 non-null  int64
 2   Date                   30000 non-null  object
 3   Units Sold             30000 non-null  int64
 4   Sales Revenue (USD)    30000 non-null  float64
 5   Discount Percentage    30000 non-null  int64
 6   Marketing Spend (USD)  30000 non-null  int64
 7   Store Location         30000 non-null  object
 8   Product Category       30000 non-null  object
 9   Day of the Week        30000 non-null  object
 10  Holiday Effect         30000 non-null  bool
dtypes: bool(1), float64(1), int64(4), object(5)
memory usage: 2.3+ MB